name: download-tor

on: 
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: download
        id: dload
        run: |
          NAME=tor-browser-windows-x86_64-portable-15.0.1.exe
          TAG=128.9.0esr
          
          wget -q https://dist.torproject.org/torbrowser/15.0.1/tor-browser-windows-x86_64-portable-15.0.1.exe
          
          if [[ -v GITHUB_WORKFLOW ]]; then
            echo "RELEASE_NAME=${NAME}" >> $GITHUB_OUTPUT
            echo "RELEASE_TAG=${TAG}" >> $GITHUB_OUTPUT
          fi

      - name: upload
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.dload.outputs.RELEASE_NAME }}
          path: ${{ steps.dload.outputs.RELEASE_NAME }}
